<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand pr-5" href="/admin">Admin Dashboard</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-1 mb-lg-0">
            {{! Hotel }}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/admin/hotel"
              >Hotel</a>
            </li>
            {{! User }}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/admin/user"
              >User</a>
            </li>
            {{! Utility}}
            {{! <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/utility">Utility</a>
          </li> }}
            {{! Post}}
            {{! <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/post">Post</a>
          </li> }}
            {{! Rating}}
            {{! <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/rating">Rating</a>
          </li> }}
            {{! Discount}}
            {{! <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/discount">Discount</a>
          </li> }}

            {{! <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Content
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Posts</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> }}
          </ul>
          <button
            class="btn btn-outline-success m-1"
            type="submit"
          >Setting</button>
          <button
            class="btn btn-outline-success m-1"
            type="submit"
          >Logout</button>
        </div>
      </div>
    </nav>
  </body>

</html>