.listContainer{
display: flex;
justify-content: center;
margin-top: 20px;

}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}


.listSearch{
    flex:1;
    background-color: #febb02 ;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.listResult{
    flex:3;
}

.lsTitle{
    font-size: 20px;

}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    
}

.lsItem>label{
    font-size: 12px;
    margin-bottom: 0; 
}

.lsItem>input{
    border: none;
    height: 30px;
    border-radius: 3px;
}

.lsItem>span{
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    border-radius: 3px;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.lsOptionItem>input{
  height: 22px;
    width: 30px;
    border-radius: 3px;
    border: none;
    
}

.lsOptions{
    padding: 10px;
}

.listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
}