.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fpItem {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fpImg {
  width: 100%;
  height: 200px;
}

.fpName {
  font-weight: bold;
  padding: 5px;
}

.fpCity {
  font-weight: 300;
  padding: 5px;
}
