.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerContainer.listMode {
  height: 2%;
}
.headerList {
  display: flex;
  gap: 40px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 60px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  color: black;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 57px;
  z-index: 2;
}

.options {
  z-index: 2;
  color: gray;
  background-color: white;
  top: 57px;
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.optionsItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.OptionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.header2 {
  background-image: url("../../../public/IMG/Home/slah.jpg.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.pd {
  height: 80px;
}

.dropdown-search {
  top: 60px;
  padding: 10px;
  font-size: 15px;
  z-index: 2;
  color: black;
  background-color: white;
  left: 70px;
  position: absolute;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  width: 270px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropdown-search:empty {
  box-shadow: none;
}
.dropdown-row:hover {
  background-color: rgb(221, 221, 221);
}
